<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cubrid_query_client_250417.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <cubrid_query_client_250417.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>10.10.10.180</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>6109</value>
            </setting>
        </cubrid_query_client_250417.Properties.Settings>
    </userSettings>
</configuration>